<%# Bootstrap footer that is fixed at bottom of page %>
<div class ="wrapper-inner">
  <div class="row footer ">
    <div class="m-2 col-sm">
      <span class="text-muted "><%= t('global.app_title') %></span>
    </div>
  </div>
</div>



 