

<footer class="fixed-bottom">

      
        <div class=" mt-4 row footer">
    <div class="m-2 col-sm">
    <span class="text-info "><%= t('global.app_title') %></span>
    </div>
    <div class="m-2 col-sm">
    <span class=""><%= t('footer.credits') %></span>
    </div>
    <div class="m-2 col-sm">
    <p class=""><%= t('footer.questions') %></p>
    </div>
  </div>
      </div>
     
 </footer>


 