@import "bootstrap";
@import "globalStyles";
@import "home";
@import "bookings";
@import "films";
@import "venues";
@import "showings";
@import "my_bookings";

body {
  background-color: $bg-primary;

  height: 100vh;
  overflow: auto;
}

nav,
.footer {
  background-color: $bg-primary;
  max-width: 1366px;
  margin: 0 auto;
  z-index: 1;
}

.footer {
  text-align: center;
}

.heading {
  color: $heading-main;
}

.separator {
  border: 2px solid $bg-secondary;
  width: 100vw;
  position: absolute !important;
}

.wrapper {
  height: 100vh;
}

.wrapper-inner {
  max-width: 1366px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
}

.no-pointer {
  pointer-events: none;
  user-select: none;
}

.glow-shadow {
  box-shadow: $card-shadow-1;
}

.glow-shadow-2 {
  box-shadow: $card-shadow-2;
}

.item-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 50px;
}

.grid-cell {
  color: white;
  transition: opacity 800ms;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 100%;
  transition: all 800ms;
}

.grid-thumb {
  width: 100%;
  border-radius: 15px;
}

@media (min-width: 600px) {
  .item-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .item-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.expand-overlay2 {
  background-color: black;
  opacity: 0.95;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-content2 {
  position: absolute;
  max-width: 500px;
  justify-content: center;
  width: 90%;
  border-radius: 15px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meta-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: small;
}

.notice {
  font-size: large;
  text-align: center;
  color: white;
  font-weight: 300;
}
