@import "bootstrap";
@import "globalStyles";
@import "home";
@import "bookings";
@import "films";
@import "venues";
@import "showings";
@import "my_bookings";

//Sets body height to viewport height.
body {
  background-color: $bg-primary;
  height: 100%;
  overflow: auto;
  margin-bottom: 50px;
}

nav,
.footer {
  background-color: $bg-primary;
  max-width: 1366px;
  margin: auto;
  z-index: 1;
}

.footer {
  text-align: center;
  bottom: 0px;

  border-radius: 50px;
  position: fixed;
  bottom: 0px;
}

.heading {
  color: $heading-main;
}

.separator {
  border: 2px solid $bg-secondary;
  width: 100vw;
  position: absolute !important;
}

.wrapper {
  height: 100vh;
}

//style for setting the max-width fo page content.
//ensures that page content is centered and not full width on larger displays.
.wrapper-inner {
  max-width: 1366px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
}

//Ensures a user cannot interact with an element with this style class.
.no-pointer {
  pointer-events: none;
  user-select: none;
}

//glow shadow effect 1
.glow-shadow {
  box-shadow: $card-shadow-1;
}

//glow shadow effect 2
.glow-shadow-2 {
  box-shadow: $card-shadow-2;
}

//lays sub elements out in a grid formation with 2 columns by default.
.item-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 50px;
}

//centers content within a grid item. Opacity transition for fade effect 800ms
.grid-cell {
  color: white;
  transition: opacity 800ms;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 100%;
  transition: all 800ms;
}

.grid-thumb {
  width: 100%;
  border-radius: 15px;
}

//Media query to increase number of columns to 3 if the grid size is greater than 600px;
@media (min-width: 600px) {
  .item-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Media query to increase number of columns to 4 if the grid size is greater than 900px;
@media (min-width: 900px) {
  .item-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

//Generates a transparent overlay, with the dimensions of viewport to cover entire screen
.expand-overlay2 {
  background-color: $bg-primary;
  opacity: 0.95;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Styles a div in the overlay, aligned centre horizontally and vertically,
.expand-content2 {
  position: fixed;
  max-width: 500px;
  justify-content: center;
  width: 90%;
  border-radius: 15px;
  overflow-y: scroll;
  max-height: 100%;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Styles a list for all meta data lists
.meta-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: small;
}

.notice {
  font-size: large;
  text-align: center;
  color: $heading-main;
  font-weight: 300;
}
.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
