// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

.form-list {
  color: $heading-secondary;
}

.form-input {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-muted;
  opacity: 1; /* Firefox */
}

//Sets styles for all text input fields.
//Flex-grow: ensures that the field expoands to full wodth of containing div.
.text-input {
  color: $heading-secondary;
  font-size: 1.5em;
  display: flex;
  flex-grow: 1;
  background: none !important;
  border: none;
  min-width: 120px;
}

.input-option {
  font-size: medium;
}

.seats-amount {
  display: inline-flex;
}

//All items in the seat selection element are horizontally aligned to the left and right, as well as vertically centered.
.seat-amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

//All items part of a seat grid label are horizontally spaced to the left and right
.seat-grid-label {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: small;
}

//Container for each sead grid row. Display flex to align each seat next to each other
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}

//Ensures a seat item has a rounded square look, with a fixed margin to space out each seat.
//Fade transition of 200ms for hover over.
.flex-item {
  border-radius: 25%;
  margin: 2px;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto; //Width 100% for each seat
  height: auto;

  transition: all 200ms;
  background-color: rgb(24, 24, 24);
}

//Inserts an empty string to ensure seat item keeps width
.flex-item:before {
  content: "";
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100%;
}

//Changes the hover color of a seat
.flex-item:hover {
  border-color: $text-muted;
  background-color: $text-muted;
  transition: all 200ms;
}

//Sets color of occupied seat to red.
.seat-occupied {
  border-color: $danger;
  background-color: $danger;
}

//Changes selected seat to blue
.seat-select {
  border-color: $heading-main;
  background-color: $info;
}

.search {
  white-space: nowrap;
}


.booking-form {
  justify-content: center;
  color: $heading-main;
  max-width: 800px;
  width: 95%;
  margin: auto;
  display: flex;
}

.booking-list {
  max-width: 200px;
}
