// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

.form-list {
  color: $heading-secondary;
}

.form-input {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-muted;
  opacity: 1; /* Firefox */
}

.text-input {
  color: $heading-secondary;
  font-size: 1.5em;

  background: none !important;
  border: none;
}

.input-option {
  font-size: medium;
}

.seats-amount {
  display: inline-flex;
}

.seat-amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

.seat-selector {
  display: none;
}

.selector-content {
  position: absolute;
  max-width: 500px;
  width: 80%;
  border-radius: 15px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;

  line-height: 30px;
}
.flex-item {
  background: black;
  border-radius: 50%;
  margin: 2px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  border: 0px solid grey;
  transition: all 200ms;
  background-color: rgb(24, 24, 24);
}
.flex-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.flex-item:hover {
  border-color: $text-muted;
  background-color: $text-muted;
  transition: all 200ms;
}

.seat-num {
  margin: 0;
  font-size: x-small;
}

.seat-occupied {
  border-color: $danger;
  background-color: $danger;
}

.seat-select {
  border-color: white;
  background-color: $warning;
}
