// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

@media (min-width: 900px) {
  .film-expand {
    display: inline-flex;
  }
}

.film-img {
  width: 100%;
  border-radius: 15px;
}

.expand-overlay {
  background-color: black;
  opacity: 0.9;
  z-index: 2;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-content {
  position: absolute;
  background-color: black;
  max-width: 800px;
  border-radius: 15px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.expand-img {
  height: 100%;

  object-fit: cover;
}

.expand-text {
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.expand-list {
  color: $text-grey-1;
  column-count: 2;
  padding-left: 0px;
  column-fill: auto;
  list-style-type: none;
  list-style: none;
  font-size: 1em;
}

.expand-descr {
  color: $text-grey-1;
}

.grid-expand {
  display: none;
}
