// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

//Style for film more info page. Centers text and max width of box.
.film-show {
  justify-content: center;
  color: $heading-main;
  max-width: 800px;
  width: 95%;
  margin: auto;
  display: flex;
}

//List styles for meta content
.film-meta {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: $heading-main;
  margin: auto;
  justify-content: center;
}

//Media query

@media (max-width: 810px) {
  //Changes horizontal alignmet direction when div width is less than 810px;
  .film-meta {
    flex-direction: row;
    text-align: left;
  }

  //Changes  vertical alignment of list when div width is less than 810px;
  .meta-list {
    justify-content: center;
  }
}

//Main content of film (synopsis)
.film-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.expand-meta {
  text-align: right;
}

.expand-img {
  max-height: 250px;
  border-radius: 15px;
}

.grid-expand {
  display: none;
}

.badge {
  white-space: pre-line;
}

.book {
  white-space: pre-line !important;
}

.expand-close {
  border: none;
  text-align: center;
}
