//Main color variables / text color
$bg-primary: #000;
$bg-secondary: #1c1c1e;
$heading-main: #fff;
$heading-secondary: #f8f9fa;
$text-muted: #6c757d;

//Shadow variables 
$card-shadow-1: 0 0 30px 3px rgba(185, 184, 184, 0.288);
$card-shadow-2: 0 0 30px 1px rgba(53, 53, 53, 0.288);

//bootstrap accent colours
$warning: #ffc107;
$info: #17a2b8;
$danger: #dc3545;
$bootstrap-small: 576px;
