// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

.jumbotron {
  color: $heading-main;
  background-color: $bg-primary !important;
  position: absolute;
  top: 30%;
}

hr {
  border-color: $heading-secondary;
}
