// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

//Modified bootstrap jumbotron class. Always in centre and not affected by other elements in the DOM.
.jumbotron {
  color: $heading-main;
  background-color: $bg-primary !important;
  position: absolute;
  top: 30%;
}

//Defines style for a horizontal rule element.
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: $heading-secondary;
  height: 1px;
}

//Contact form is centered, has max-width and content in columns.
.contact-form {
  margin: auto;
  color: $text-muted;
  font-weight: 300;
  max-width: 600px;
  display: flex !important;
  flex-direction: column;
}

//Styles for contact text input fields.
.contact-input {
  color: $heading-main;
  background: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-left: 16px;
  font-size: large;
}

//Styles for contact text input lables.
.contact-label {
  font-size: small;
  margin: 5px;
}
