// Place all the styles related to the Showings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Showing content box, centered with an absolute max width. Text align center.
.showing-show {
  justify-content: center;
  color: $heading-main;
  max-width: 500px;
  width: 95%;
  margin: auto;
  display: flex;
}

//Style for showing meta list. Left aligning all text.
.showing-meta {
  text-align: left;
  padding: 0px;
  width: 100%;
}

//Align each time buttin in a row
.showings-buttons-wrapper {
  display: flex;
  flex-direction: row;
}

//Tests max width for the mini seat overview in the showing popout.
//Removes pointer events so a seat cannot be selected.
//max-height 0, initially not visable. Transition 200ms to create a sliding open effect when the max height is changed.
.seat-grid-mini {
  max-width: 300px;
  pointer-events: none;
  margin: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all 200ms;
}

//Space inbetween for child elements (title and time)
.showing-popout-header {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  align-items: center;
  font-weight: 300;
}

.showing-popout-actions {
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-items: center;
  font-weight: 300;
}

.popout-close {
  border: none;
  pointer-events: all;
}
