// Place all the styles related to the Showings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showing-show {
  justify-content: center;
  color: white;
  max-width: 500px;
  width: 95%;
  margin: auto;
  display: flex;
}

.showing-meta {
  text-align: left;
  padding: 0px;
  width: 100%;
}

.showing-time {
  font-size: 3em;
  font-weight: 700;
  background: none;
  border: none;
}

.showings-buttons-wrapper {
  display: flex;
  flex-direction: row;
}

.showing-actions {
  text-align: center;
}

.seat-grid-mini {
  max-width: 300px;
  pointer-events: none;
  margin: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all 200ms;
}

.popout-overlay {
  background-color: black;

  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
}

.showing-popout-header {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  align-items: center;
  font-weight: 300;
}

.showing-popout-actions {
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-items: center;
  font-weight: 300;
}

.popout-close {
  border: none;
  pointer-events: all;
}
