// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalStyles";

.venue-img {
  max-width: 300px;
}

.expand-content-venue {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  max-width: 500px;
  width: 90%;
  border-radius: 15px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.venue-title {
  color: $heading-main;
  font-size: 2em;
}

.venue-list {
  list-style-type: none;
  text-align: left;
  width: 100%;
  padding: 0px !important;
  font-size: small;
}

.venue-expand-img {
  max-height: 300px;
}
